# Variables de entorno y secretos
.env
*.pem
credentials.json
n8n-secrets.json

# Archivos temporales y de sistema operativo
.DS_Store
Thumbs.db

# Logs de Docker o del sistema
*.log
npm-debug.log*

# Carpetas de datos locales de n8n o bases de datos
/n8n_data
.n8n/
